:root {
  --font-sans: Helvetica, "Trebuchet MS", Verdana, sans-serif;
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;

  --search-border: 1px solid #999999;

  --font-size-tiny: 10pt;
  --font-size-small: 12pt;
  --font-size-medium: 16pt;
  --font-size-large: 20pt;

  --header-footer-height: 10vh;

  --card-height: 200px;
  --card-width: 170px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-sans);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color-scheme: dark;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (orientation: landscape) and (max-width: 1120px) {
  :root {
    --header-footer-height: 10vw;
  }
}

@media (max-height: 1000px) {
  :root {
    --card-height: 160px;
    --card-width: 150px;
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}